*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 20px 100px;
}
body{
   
    font-family: 'Montserrat', sans-serif;
    background: #dfe2e7c2;
    color: #03277bf7;
}
img{
    display: block;
}

header{
    width: 100%;
    background: #020617;
    display: flex;
    padding: 20px 100px;
    position: sticky;
    top: 0;
    border-bottom: 4px solid #fff;
    box-shadow: 4px 0px 4px 4px #020617;
    z-index: 7;
}
.logo{
    width: 100%;
}
.logo img{
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}
nav ul li {

}
nav ul li a{
padding: 0px 20px;
color: #e2e8f0;
text-decoration: none;
font-weight: 200;
font-size: 18px;
cursor: pointer;
}
nav ul li a:hover{
    border-radius: 8px;
    padding: 8px 20px;
    background: #e2e8f0;
    color: #020617;
}
/* main */
main{
width: 100%;

}
main section{
    /*margin: 25px 0;*/
}

.destaques{
    width: 100%;
    height: 700px;
   /* background: url('./img/gettyimages-494411959-640_adpp.mp4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
    
    /* Ajuste o último valor (0.5) para obter a opacidade desejada */
}

.videos{
    width: 100%;
    height: 700px;
    position: static;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.videos video{
    width: 100%;
    height: fit-content;
}

.conteudo{
    padding: 20px;
    background: #020617a6;
    margin-top: 25px;
    font-weight: 200;
    width: 600px;
    color: #fff;
}
.conteudo h2{
    text-align: justify;
     margin-bottom: 25px;
    font-size: 30px;
}
.conteudo p{
    font-weight: 500;
    text-align: justify;
    font-size: 20px;
    line-height: 1.83em;
}

.sobre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe2e7;
}
.sobre-info{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    
}
.sobre h2{
    color: #121212;
    font-weight: 200;
    line-height: 1.875em;

}
.sobre-info p{
    text-align: start;
    line-height: 1.875em;
    color: #121212;

}
.ideias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 15px;
}
.ideias .content{
    padding: 15px;
    background: #020617;

}
.ideias-info {
   width: 100%;
    background: #020617;
    padding: 10px 15px;
    border-radius: 8px;
    padding: 5px 12px;
    box-shadow: 5px 5px 5px 5px solid #020617 ;
}
.flex-ideias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.ideias-info{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
}
.ideias h2{
    text-align: start;
    color: #FFF;
    margin-bottom: 25px;
}
.ideias-info.left h2{
    font-weight: 300;
 
}
.ideias-info.rigth h2{
    font-weight: 300;

}
.ideias-info.left{
    border-radius: 0px;
    border-right: 2px solid #fff;
}
.ideias-info.rigth{
    border-radius: 0px;
    border-left: 2px solid #fff;
}
.flex-ideias h2{
    text-align: center;
    margin-bottom:10px;
    line-height: 1.8em;
    color: #fff;
    font-weight: 500;
}
.flex-ideias  p{
    text-align: justify;
    color: #dfe2e7;
    line-height: 1.8em;
    font-weight: 200;
}
.galeria{
    
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
    margin-top: 25px;
}

.produtos{
width: 100%;
display: flex;
justify-content: start;
align-items: start;
flex-direction: column;
}
.produtos .content{
    width: 100%;
    padding: 15px;
    background: #020617;
}
.produtos .content h2{
    color: #fff;
    text-align: start;
    margin-bottom: 25px;
}
.produtos .content ul{
    padding-left: 100px;
    display: block;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    list-style: square;
    left: 500px;
}
.produtos .content ul li{
    color: #fff;
    font-weight: 200;
}
.produtos .content p {
    margin-bottom: 25px;
    color: #fff;
    font-weight: 200;

}
.produtos-information{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produtos-information p{
    padding: 30px;
    text-align: justify;
}
.galeria-title {
    margin: 25px 0;
}
.galeria-title h2{
    color: #0f172a;
    font-weight: 600;
}
footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    bottom: 0;
    background: #020617;
    flex-direction: column;
    height: auto;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}
.footer .logo{
    align-items: flex-start;
}
.footer .logo img{
    width: 100px;
}
.footer-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 10px;
}
.footer-info h3{
    font-weight: 200;
    margin-bottom: 8px;
}
.footer-info p{
    font-weight: 100;
    margin-bottom: 3px;
    color: #cbd5e1;
}

.socias{
    background: #fff;
    width: 100px;
    padding: 4px 5px;
    margin-bottom: 3px;
    cursor: pointer;
    text-decoration: none;
}
.socias.facebook{
    background: #0165E1;
    font-weight: 700;
    color:  #fff;
}

.socias.instagram{
    font-weight: 700;
    background: #833AB4;
    color: #fff;
}
.socias.linkedin{
    font-weight: 700;
    color:  #fff;
    background: #0A66C2;
}

  
  /* Estilos para formulário de contato */
  .contato{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .contato .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #020617;
  }

  .contato .content .img-contact{
  }
  .img-contact img{
    width: 500px;
  }
  .contato-info{
    width: 300px;
  }
  .contato-info h2{
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  input[type="text"], textarea {
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
   line-height: 1.50em;
    
  }
  form textarea{
    resize: none;
  }
  
  input[type="submit"] {
    background-color: #0165E1;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0A66C2;
    color: #ffff;
    border-radius: 4px;
  }

  /* localização */
  .localizacao{
    background: #dfe2e7;
  }
  .localizacao-img{
    padding: 0px 50px;
    width: 100%;
  }

  .localizacao-img img{
    width: 100%;
    height: auto;
  }


  /* animação swipper*/
  .swiper {
  padding: 8px;
  border-radius: 8px;
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }